* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  --bg-color: #fff0f6;
  --text-color: #000000;
  --secondary-text-color: #413c3c;
  --primary-color: #ddb180;
  --secondary-color: #c7ae91;
}

body.nude {
  --bg-color: #fff0f6;
  --text-color: #000000;
  --secondary-text-color: #413c3c;
  --primary-color: #ddb180;
  --secondary-color: #c7ae91;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: 'Poppins', sans-serif;
  font-size: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.container {
  text-align: center;
  width: 300px;
  margin: 60px auto;
}

img.avatar {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  padding: 1.7px;
  border: var(--primary-color) solid 2px;
}

h1 {
  font-size: 26px;
}

.description {
  opacity: 0.5;
  font-size: 14px;
}

.social-media i {
  font-size: 24px;
  margin-top: 6px;
  color: #950dbe;

  transition: all 0.5s;
  cursor: pointer;
}

.social-media i:hover {     
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

ul {
  list-style: none;
  margin: 75px 0px;
}

ul li a {
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
  color: var(--secondary-text-color);
  font-size: 16px;

  margin-top: 16px;
  border-radius: 6px;
  transition: background 400ms;
}

ul li a:hover {
  background: var(--secondary-color);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

footer img {
  width: 40px;
}

.powered-by {
  display: flex;
  align-items: center;
  justify-content: center;
}