* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  --bg-color: #fff0f6;
  --text-color: #000000;
  --secondary-text-color: #413c3c;
  --primary-color: #ddb180;
  --secondary-color: #c7ae91;
}

body.nude {
  --bg-color: #fff0f6;
  --text-color: #000000;
  --secondary-text-color: #413c3c;
  --primary-color: #ddb180;
  --secondary-color: #c7ae91;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: 'Poppins', sans-serif;
  font-size: 100%;
}

.conteiner {
  text-align: center;
  width: 300px;
  margin: 60px auto;
}

img.avatar {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  padding: 1.7px;
  border: var(--primary-color) solid 2px;
}

h1 {
  font-size: 26px;
}

.description {
  opacity: 0.5;
  font-size: 14px;
}

.social-media i {
  font-size: 24px;
  margin-top: 6px;
  color: #950dbe;

  transition: all 0.5s;
  cursor: pointer;
}

.social-media i:hover {     
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

ul {
  list-style: none;
  margin: 75px 0px;
}

ul li a {
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
  color: var(--secondary-text-color);
  font-size: 16px;

  margin-top: 16px;
  border-radius: 6px;
  transition: background 400ms;
}

ul li a:hover {
  background: var(--secondary-color);
}

.conteiner-2 p {
  display: flex;
  justify-content: space-between;
  margin-left: 418px;
  margin-right: 418px;
  margin-top: 16px;
  align-items: center;
}

.conteiner-2 span {
  font-size: 13px;
  opacity: 0.5;
}

.project-images {
  margin-top: 20px;
  margin-left: 400px;
  margin-right: 400px;
  margin-bottom: 100px;
}

img.project {
  width: 150px;
  height: 150px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 10%;
}

img.project {
  transition: all 0.9s;
  cursor: pointer;
}

img.project:hover {     
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  transition: 0.6s;
}

@media (max-width: 650px) {
  .conteiner-2 p {
    display: flex;
    justify-content: space-between;
    margin-left: 26px;
    margin-right: 26px;
    align-items: center;
  }

  .project-images {
    display: flex;
    overflow-x: scroll;
    margin-left: auto;
    margin-right: auto; 
  }
}